python-dotenv

langchain
langchain-core
langchain-community

## LLM PROVIDER
langchain-groq
langchain-text-splitters

## VECTOR STORE
#faiss-cpu-- migarted to langchain-qdrant
langchain-qdrant
qdrant-client

##notebook
jupyter
ipykernel

## webapp
streamlit
